
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local machine environment secrets
tests/
/secrets.js

# Test designed to fail
tests/
/login-logout-bot-fail.test.js