
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local machine environment secrets and test designed to fail
tests/
/secrets.js
/login-logout-bot-fail.test.js